.Navbarbtn {
  font-family: sans-serif;
  text-align: center;
}

.menuIcon {
  margin-top: 15px;
  margin-left: -150px;
  transform: scale(1.5);
  color: rgb(65, 65, 65);
}

.searchIcon {
  margin-top: 15px;
  margin-left: 1500px;
  margin-right: 30px;
  color: rgb(65, 65, 65);
  transform: scale(1.5);
}

.refreshIcon {
  margin-top: 15px;
  transform: scale(1.5);
  color: rgb(65, 65, 65);

}

.navBar {
  height: 60px;
}
